/* General Styles */
.day {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    width: 13%;
    vertical-align: top;
    box-sizing: border-box;
}

/* Person Styles */
.person {
    padding: 5px;
    margin: 2px 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

/* Highlight and Preferences */
.highlight {
    font-weight: bold;
}

.preferred {
    background-color: #eb7515;
}

/* Shift Type Colors */
.frontHalfShift {
    background-color: #583ddd;
    color: #04080b;
}

.backHalfShift {
    background-color: #17cb50;
    color: #0f0f0f;
}

.donutShift {
    background-color: #ba471d;
    color: black;
}

.waterfallShift {
    background-color: #077410;
    color: #030303;
}

/* Responsive Design */
#schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 1200px) {
    .day {
        width: 30%;
        /* 3 per row */
    }
}

@media (max-width: 768px) {
    .day {
        width: 45%;
        /* 2 per row */
    }
}

@media (max-width: 480px) {
    .day {
        width: 95%;
        /* 1 per row */
    }

    .person {
        font-size: 12px;
        /* Slightly smaller text for small screens */
    }
}