/* General Styles */
.day {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    width: 13%;
    vertical-align: top;
    box-sizing: border-box;
}


.person {
    padding: 5px;
    margin: 2px 0;
    border-radius: 4px;
    color: #fff;
    /* Text color for visibility */
    font-size: 14px;
}


.highlight {
    font-weight: bold;
}


.preferred {
    background-color: #ffefc4;
    /* Light highlight for preferred days */
}


/* Shift Type Colors */
.frontHalfShift {
    background-color: #cfe2f3;
    /* Light Blue */
    color: #003a70;
    /* Dark Blue */
}


.backHalfShift {
    background-color: #e3f2fd;
    /* Light Cyan */
    color: #0277bd;
    /* Dark Cyan */
}


.donutShift {
    background-color: #ea95b1;
    /* Light Pink */
    color: #d81b60;
    /* Dark Pink */
}


.waterfallShift {
    background-color: #043f09;
    /* Light Green */
    color: #2e7d32;
    /* Dark Green */
}

/* General Styles */
.day {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    width: 13%;
    vertical-align: top;
    box-sizing: border-box;
}


.person {
    padding: 5px;
    margin: 2px 0;
    border-radius: 4px;
    color: #b0283e;
    /* Text color for visibility */
    font-size: 14px;
}


.highlight {
    font-weight: bold;
}


.preferred {
    background-color: #63a2af;
    /* Light highlight for preferred days */
}


/* Shift Type Colors */
.frontHalfShift {
    background-color: #0d84ec;
    /* Light Blue */
    color: black;
    /* Dark Blue */
}


.backHalfShift {
    background-color: #17cb50;
    /* Light Cyan */
    color: #0277bd;
    /* Dark Cyan */
}


.donutShift {
    background-color: #c4d639;
    /* Light Pink */
    color: #210bb5;
    /* Dark Pink */
}


.waterfallShift {
    background-color: #098a14;
    /* Light Green */
    color: #040404;
    /* Dark Green */
}